// widget vertical menu
.vertical-wrapper{
  position:relative;
  .title-vertical{
    color: #fff;
    background:$theme-color;
    font-size: 18px;
    text-transform:capitalize;
    padding:13px 20px;
    margin:0;
    cursor: pointer;
    i{
      font-size: 16px;
      margin-right: 15px;
    }
    .show-down{
      font-size: 18px;
      margin:3px 0 0;
      float: right;
    }
  }
  .content-vertical{
    padding:0;
    display: none;
    position:absolute;
    top:100%;
    left: 0;
    width: 100% !important;
    z-index: 8;
  }
  &.show-always{
    .content-vertical{
      display: block;
    }
  }
}
.apus-vertical-menu{
  padding: 14px;
  background: #fff;
  margin:0;
  list-style:none;
  border-width:0 1px 1px;
  border-style:solid;
  border-color:$border-color;
  > li{
    display: block;
    width: 100%;
    border-bottom:1px dashed $border-color;
    &:last-child{
      border:none;
    }
    > a{
      font-size: 16px;
      padding: 0;
      line-height: 40px;
      background:transparent !important;
      > i,
      > img{
        font-size: 22px;
        margin-right: 15px;
        width: 18px;
        display: inline-block;
        color: $theme-color;
      }
      .caret{
        float: right;
        margin: 22px 0 0;
        @include rotate(0deg);
        @include transition(all 0.2s ease-in-out 0s);
      }
    }
    .apus-container{
      padding: 10px 35px;
    }
    &:hover,
    &.active{
      > a{
        color: $theme-color;
      }
    }
  }
  li:hover{
    > .dropdown-menu{
      @include opacity(1);
      visibility: visible;
    }
  }
  .text-label{
    font-size: 12px;
    vertical-align: super;
    margin-left: 5px;
    color: $theme-color;
    font-family: $headings-font-family;
    &.label-hot{
      color: $danger;
    }
    &.label-new{
      color: $success;
    }     
  }
  .dropdown-menu{
    min-width: 240px;
    visibility: hidden;
    padding:20px;
    font-size:14px;
    @include border-radius(0);
    display: block;
    @include opacity(0);
    @include transition(all 0.2s ease-in-out 0s);
    border:none;
    @include box-shadow(0 0 5px 0 rgba(0,0,0,0.15));
    > li{
      > a{
        color: $body-link;
        background:transparent !important;
        padding:0;
        > i,
        > img{
          font-size: 20px;
          margin-right: 10px;
          width: 15px;
          display: inline-block;
        }
        .caret{
          float: right;
          margin: 12px 0 0;
          @include rotate(0deg);
          @include transition(all 0.2s ease-in-out 0s);
        }
      }
      &:hover,&.active,&:active{
        > a{
          color: $theme-color;
        }
      }
    }
    .wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid > li,
    .widget{
      margin:0;
    }
    .widget .widget-title, .widget .widgettitle, .widget .widget-heading{
      margin: 0 0 10px;
      font-size: 18px;
      padding: 0;
      &:after,
      &:before{
        display:none;
      }
    }
  }
  .aligned-left{
    > a{
      &:hover{
        .caret{
          @include rotate(-90deg);
        }
      }
    }
    > .dropdown-menu{
      top: -10px;
      left: 100%;
    }
  }
  .aligned-right{
    > a{
      &:hover{
        .caret{
          @include rotate(90deg);
        }
      }
    }
    > .dropdown-menu{
      top: -10px;
      right: 100%;
      left: inherit;
    }
  }
}
// apus_custom_menu
.apus_custom_menu{
  &.center{
    text-align: center;
    li{
      display:inline-block;
      margin:0 15px;
    }
  }
  &.left{
    text-align: left;
  }
  &.right{
    text-align: right;
  }
  &.inline{
    li{
      display:inline-block;
      vertical-align:middle;
      margin-bottom:0;
      margin-right: 20px;
      @media(min-width:1200px){
        margin-right: 40px;
      }
      &:last-child{
        margin:0;
      }
    }
  }
}
// slick
.slick-carousel{
  position:relative;
  margin-right: -8px;
  margin-left: -8px;
  @media(min-width: 768px){
    margin-right: -(15px);
    margin-left: -(15px);
  }
  .slick-arrow{
    background:#fff;
    padding:0;
    display: inline-block;
    font-size: 12px;
    @include size(40px,40px);
    line-height: 38px;
    @media(min-width: 1200px){
      @include size(45px,45px);
      line-height: 43px;
    }
    color: $body-link;
    @include transition(all 0.3s ease-in-out 0s);
    position:absolute;
    top: 50%;
    @include translate(0,-50%);
    z-index: 2;
    border:1px solid $border-color;
    @include border-radius(50%);
    @include box-shadow(0 10px 50px 0 rgba(#0D263B,0.1));
    .textnav{
      display: none;
    }
    &:hover,&:focus{
      color: #fff;
      background: $theme-color;
      border-color: $theme-color;
    }
  }
  .slick-prev{
    left: 5px;
  }
  .slick-next{
    right: 5px;
  }
  .slick-slide{
    outline: none !important;
    padding-left:8px;
    padding-right:8px;
    @media(min-width: 768px){
      padding-left:15px;
      padding-right:15px;
    }
  }
  &.no-gap{
    margin:0;
    .slick-slide{
      padding-left: 0;
      padding-right: 0;
    }
  }
  &.gap-10{
    margin-left: -5px;
    margin-right: -5px;
    .slick-slide{
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  &.gap-2{
    margin-left: -1px;
    margin-right: -1px;
    .slick-slide{
      padding-left: 1px;
      padding-right: 1px;
    }
  }
  &.show-text{
    .textnav{
      display: inline-block;
      margin: 0 2px;
    }
    .slick-arrow{
      @include size(auto,auto);
      background: transparent !important;
      font-weight:500;
      font-size: 12px;
      color: $body-link;
      &:hover,&:active,&:focus{
        color:$theme-color;
      }
    }
    .slick-prev{
      left:0;
      right: inherit;
    }
    .slick-next{
      right:0;
      left: inherit;
    }
  }
  .slick-track{
    margin: inherit;
  }
  // dots
  .slick-dots{
    margin:0 !important;
    padding:1rem 0 0;
    @media(min-width: 1200px){
      padding:1.875rem 0 0;
    }
    text-align: center;
    list-style: none;
    line-height: 1;
    li{
      @include transition(all 0.3s ease-in-out 0s);
      position:relative;
      display: inline-block;
      cursor: pointer;
      margin:0 5px;
      border:0;
      padding:0;
      background:transparent;
      button {
        border:none;
        display: block;
        text-indent: -9999em;
        @include size(8px,8px);
        padding:0;
        background: #DEDEDE;
        @include border-radius(8px);
        @include transition(all 0.2s ease-in-out 0s);
      }
      &.slick-active{
        button{
          @include size(20px,8px);
          background: #222222;
        }
      }
    }
  }
}
.slick-carousel.st_white{
  .slick-dots li{
    &.slick-active,
    button{
      background-color: #fff !important;
    }
  }
}
.widget-googlemap{
  position:relative;
  .apus-google-map{
    z-index: 1;
  }
  .map-content{
    position: absolute;
    top: 0;
    left: 0;
    @include size(100%,100%);
  }
  .content-info{
    position:relative;
    z-index: 9;
    background:rgba(#111111,0.8);
    padding:30px;
    @media(min-width:1024px){
      padding:65px 65px 40px;
    }
  }
  .description{
    margin:0 0 35px;
  }
  .info-wrapper{
    margin: 0 0 40px;
    &:nth-child(2n){
      font-weight: normal;
    }
    .icon{
      @include size(70px,70px);
      line-height: 76px;
      text-align:center;
      border:2px dashed #3f4143;
      @include border-radius(50%);
      float: left;
      margin-right: 20px;
      i{
        font-size: 28px;
      }
    }
    .des{
      color: #fff;
      overflow: hidden;
      margin:6px 0 0;
    }
  }
  .info-top{
    border-bottom:2px dashed #414445;
    overflow: hidden;
  }
  .info-bottom{
    margin: 40px 0;
    a{
      display: inline-block;
      text-align: center;
      line-height: 42px;
      @include size(42px,42px);
      @include border-radius(50%);
      color: #101416;
      background:#3f4143;
      &:hover,&:active{
        background-color: $theme-color;
        color: #0e1113;
      }
      + a{
        margin-left: 12px;
      }
    }
  }
}
// widget-social
.widget-socials{
  .social{
    padding: 0;
    list-style: none;
    margin: 0;
    > li{
      padding:0;
      display: inline-block;
      margin-right: 5px;
      &:last-child{
        margin: 0;
      }
    }
    a{
      font-size: $font-size-base - 1;
      display: inline-block;
      @include size(30px,30px);
      line-height: 30px;
      @media(min-width: 1200px){
        @include size(40px,40px);
        line-height: 40px;
      }
      text-align: center;
      @include border-radius(50%);
      background-color: $theme-color;
      color: #fff;
      @include transition(all 0.3s ease-in-out 0s);
      &:hover,&:focus{
        color: #fff;
        background: $theme-hover-color;
      }
    }
  }
  &.st_normal{
    .social{
      > li{
        margin-right: 1rem;
        @media(min-width: 1200px){
          margin-right: 1.5625rem;
        }
        &:last-child{
          margin-right: 0;
        }
      }
      a{
        @include size(auto,auto);
        line-height: $line-height-base;
        background-color: transparent;
        color: $body-link;
      }
    }
  }
}
.list-icon{
  margin-bottom: 0.75rem;
  &:last-child{
    margin-bottom: 0;
  }
  .title{
    margin:0;
  }
  .box-content{
    padding-left: 10px;
    @media(min-width: 1200px){
      padding-left: 20px;
    }
  }
}
a.direction{
  text-decoration: underline;
  color: $theme-color;
  &:hover,&:focus{
    color: $theme-color;
    text-decoration: none;
  }
}
.vertical-icon{
  position: relative;
  display: block;
  @include size(25px,12px);
  @include transition(all 0.2s ease-in-out 0s);
  cursor: pointer;
  &:after,
  &:before{
    content:'';
    position: absolute;
    right: 0;
    bottom: 0;
    @include size(20px,2px);
    background-color: $body-link;
    @include transition(all 0.2s ease-in-out 0s);
  }
  &:after{
    @include size(25px,2px);
    top: 0;
    bottom: inherit;
  }
  &:focus,
  &:hover{
    &:before{
      width: 100%;
    }
  }
}
// navbar header
.navbar-wrapper{
    .close-navbar-sidebar{
      cursor: pointer;
      @include opacity(0.8);
      @include transition(all 0.2s ease-in-out 0s);
      color: $body-link;
      background-color: $theme-color-second !important;
      position: absolute;
      z-index: 1;
      text-align: center;
      @include border-radius(50%);
      top: 10px;
      right: 10px;
      @include size(30px,30px);
      line-height: 30px;
      @media(min-width: 1200px){
        font-size: 15px;
        top: 40px;
        right: 40px;
        @include size(42px,42px);
        line-height: 42px;
      }
      &:hover,&:focus{
        @include opacity(1);
      }
    }
    .navbar-sidebar-wrapper{
        z-index: 3;
        position:fixed;
        overflow-y:auto;
        scrollbar-width: thin;
        right:0;
        top:0;
        @include transition(all 0.35s ease-in-out 0s);
        @include opacity(0);
        width:450px;
        max-width: 80%;
        height: 100vh;
        @include translateX(100%);
        &.active{
          @include opacity(1);
          @include translateY(0);
        }
    }
    .navbar-sidebar-overlay{
      background:rgba(#0A2357,0.3);
      position:fixed;
      top:0;
      left:0;
      @include size(100vw,100vh);
      @include opacity(0);
      @include transition(all 0.3s ease-in-out 0s);
      cursor: no-drop;
      visibility: hidden;
      z-index: 2;
      &.active{
          visibility: visible;
          @include opacity(1);
      }
    }
    &.st_left{
        .navbar-sidebar-wrapper{
            @include translateX(-100%);
            right:initial;
            left: 0;
            &.active{
                @include translateY(0);
            }
        }
    }
}
// language
.language-wrapper{
  font-size:12px;
  display:inline-block;
  position:relative;
  &:before{
    content:'';
    position:absolute;
    top:100%;
    left:0;
    @include size(100%,5px);
  }
  .selected{
    .language-current{
      > img{
        margin:0 10px 0 0;
        vertical-align:sub;
      }
      > i{
        margin-left: 10px;
      }
    }
  }
  .dropdown-menu{
    background:#fff;
    display:block;
    @include opacity(0);
    @include translateY(10px);
    font-size:12px;
    margin-top:5px;
    @include border-radius(0);
    padding:13px 18px;
    min-width:130px;
    @include box-shadow(none);
    border:1px solid $border-color;
    @include transition(all 0.3s ease-in-out 0s);
    visibility:hidden;
  }
  &:hover{
    .dropdown-menu{
      visibility:visible;
      @include translateY(0);
      @include opacity(1);
    }
  }
  .list-language{
    list-style:none;
    padding:0;
    margin:0;
    li{
      margin-bottom:10px;
      &:last-child{
        margin-bottom:0;
      }
    }
    a{
      &:hover,&:focus{
        color: $theme-color;
      }
    }
    img{
      margin-right: 6px;
      margin-bottom:0;
    }
  }
}
//social-link
.social-link{
  display: inline-block;
  margin: 0 5px;
  padding:0;
  li{
    display: inline-block;
    margin: 0 5px;
    a{
      background: #f4f4f4 none repeat scroll 0 0;
      border-radius: 100%;
      color: $body-color;
      display: inline-block;
      height: 40px;
      line-height: 38px;
      text-align: center;
      width: 40px;
      border:1px solid $border-color;
    }
  }
  &.lighten{
    li a{
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
      border: 1px solid #ffffff;
      color: #ffffff;
    }
  }
}
// .widget-gallery
.widget-gallery{
  .image{
    position:relative;
    &:before{
      @include transition(all 0.2s ease-in-out 0s);
      content: '';
      @include size(100%,100%);
      position:absolute;
      top: 0;
      left: 0;
      background:$theme-color;
      @include opacity(0);
      z-index: 2;
    }
    .content-cover{
      @include transition(all 0.2s ease-in-out 0s);
      @include opacity(0);
      position:absolute;
      text-align:center;
      width: 100%;
      top:50%;
      left: 50%;
      @include translate(-50%,-50%);
      z-index: 9;
    }
    &:hover{
      &:before{
        @include opacity(0.9);
      }
      .content-cover{
        @include opacity(1);
      }
    }
  }
  .popup-image-gallery{
    @include size(60px,60px);
    line-height: 60px;
    display: inline-block;
    text-align: center;
    background:#fff;
    font-size: 24px;
    color: $theme-color;
    @include border-radius(50%);
    @include transition(all 0.2s ease-in-out 0s);
    &:hover,&:active{
      color:$theme-color;
      background:darken(#fff,10%);
    }
  }
  .title{
    font-size: 24px;
    font-size: $font-family-second;
    margin:0;
    color: #fff;
  }
  .description{
    color: #e0dede;
    font-size: 12px;
    margin-bottom: 20px;
  }
  .gutter-default{
    margin-left: 0;
    margin-right: 0;
    > div{
      padding-right:0;
      padding-left:0;
    }
  }
  &.gutter30{
    .title{
      font-size: 18px;
      font-family: $font-family-second;
    }
    .image{
      margin-bottom: 30px;
    }
    .description{
      margin-bottom: 10px;
    }
    .gutter-default{
      margin-left: -15px;
      margin-right: -15px;
      > div{
        padding-right:15px;
        padding-left:15px;
      }
    }
  }
}
// widget feature
.item-inner{
  position: relative;
  overflow: hidden;
  @include border-radius($border-radius);
  padding: 1rem;
  background-color: #fff;
  border: 1px solid $border-color;
  @media(min-width: 1200px){
    padding:3.125rem 1.8rem;
  }
  @include transition(all 0.3s ease-in-out 0s);
  .title{
    font-size: 1.125rem;
    margin:0;
  }
  .features-box-image{
    line-height: 1;
    font-size: 1.375rem;
    margin-bottom: 1rem !important;
    @include size(60px,60px);
    background-color: #F4F4F4;
    color: $theme-color;
    @include border-radius(50%);
    @include transition(all 0.3s ease-in-out 0s);
    @media(min-width: 1200px){
      margin-bottom: 2rem !important;
      font-size: 2.5rem;
      @include size(120px,120px);
    }
  }
  .description{
    margin-top: 0.625rem;
    @media(min-width: 1200px){
      margin-top: 1rem;
    }
    text-transform: capitalize;
  }
  .btn-readmore{
    margin-top: 20px;
  }
  &:hover{
    @include box-shadow(0 8px 30px 0 rgba(#222222,0.07));
    .features-box-image{
      color: #fff;
      background-color: $theme-color;
    }
  }
}

// wiget testimonials
.widget-testimonials{
  .slick-list{
    padding: 0 !important;
  }
  @media(min-width: 1200px){
    .slick-carousel .slick-dots{
      padding-top: 3.125rem;
    }
  }
}
.testimonials-item{
  position: relative;
  .avarta{
    overflow: hidden;
    @include transition(all 0.3s ease-in-out 0s);
    @include border-radius(50%);
    @include size(70px,70px);
    background-color: #fff;
    position: relative;
  }
  .name-client{
    font-size: 1.125rem;
    margin:0 0 2px;
  }
  .description{
    margin-top: 0.625rem;
    @media(min-width: 1200px){
      margin-top: 1.25rem;
    }
  }
  .star-rating{
    overflow: hidden;
    position: relative;
    @include size(92px, 15px);
    line-height: 15px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 12px;
    letter-spacing: 6px;
    float: none;
    &:before {
        content: "\f005\f005\f005\f005\f005";
        color: #d5d5d5;
        /*rtl:ignore*/
        float: left;
        top: 0;
        left: 0;
        position: absolute;
    }
    span {
        overflow: hidden;
        /*rtl:ignore*/
        float: left;
        top: 0;
        left: 0;
        position: absolute;
        padding-top: 1.5em;
    }
    span:before {
        content: "\f005\f005\f005\f005\f005";
        top: 0;
        position: absolute;
        left: 0;
        color: #FFC78B;
    }
  }
  &.style1{
    @include opacity(0.5);
    text-align: center;
    padding: 1.25rem;
    @include border-radius($border-radius);
    background-color: #fff;
    @include transition(all 0.3s ease-in-out 0s);
    @media(min-width: 1200px){
      padding: 2.8125rem 5.5rem;
      @include border-radius(1rem);
    }
    .avarta{
      margin-bottom: 0.625rem !important;
      @media(min-width: 1200px){
        margin-bottom: 1.25rem !important;
      }
    }
    .comma{
      position: absolute;
      font-size: 100px;
      line-height: 1;
      top: 1rem;
      left: 1rem;
      @include transition(all 0.3s eae-in-out 0s);
      @include opacity(0);
      visibility: hidden;
      @media(min-width: 1200px){
        top: 2rem;
        left: 4rem;
      }
    }
  }
  &.style2{
    .star-rating{
      margin-bottom: 0.625rem;
    }
    .top-info{
      background-color: #FAFAFA;
      @include border-radius($border-radius);
      padding: 2.5rem 4.125rem;
    }
    .bottom-info{
      margin-top: 1rem;
      @media(min-width: 1200px){
        margin-top: 2.1875rem;
      }
    }
    .info-testimonials{
      padding-left: 1rem;
    }
  }
}
.slick-current{
  .testimonials-item.style1{
    background-color: #FAFAFA;
    @include opacity(1);
    .comma{
      @include opacity(1);
      visibility: visible;
    }
  }
}
.slick-active{
  .testimonials-item.style2{
    @include opacity(1);
  }
}
.wrapper-testimonial-thumbnail{
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  @media(min-width: 1200px){
    margin-top: 40px;
  }
  .testimonials-item{
    cursor: pointer;
    padding:20px 0 30px;
    @media(min-width: 1200px){
      padding:20px 0 50px;
    }
  }
  .slick-list{
    padding:0 !important;
  }
  .slick-current {
    .bottom-info{
      @include box-shadow(0 10px 50px 0 rgba(#0D263B,0.1));
    }
  }
}

// custom menu
.widget-nav-menu{
  .menu{
    li{
      margin:0 0 12px;
      overflow: hidden;
      > a{
        position: relative;
        @include transition(all 0.3s ease-in-out 0s);
        display: inline-block;
      }
      &:hover,
      &.current-cat-parent,
      &.current-cat{
        > a{
          color: $link-hover-color;
          text-decoration: underline;
        }
      }
      &:last-child{
        margin:0;
      }
    }
  }
  &.st_line{
    .menu{
      li{
        margin-bottom: 0;
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
        @media(min-width: 1200px){
          margin-right: 40px;
        }
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
  &.st_circle{
    li{
      a{
        text-decoration: none !important;
        &:before{
          content:'';
          @include size(6px,6px);
          background-color: #CCCCCC;
          @include border-radius(50%);
          display: inline-block;
          vertical-align: middle;
          margin-right: 12px;
          margin-top: -3px;
          @include transition(all 0.3s ease-in-out 0s);
        }
        &:hover,&:focus{
          &:before{
            background-color: $link-hover-color;
          }
        }
      }
      &:hover,
      &.current-cat-parent,
      &.current-cat,
      &.active{
        > a{
          &:before{
            background-color: $link-hover-color;
          }
        }
      }
    }
  }
}
form.mc4wp-form{
  [type="email"]{
    outline: none;
    border-color: transparent !important;
    &::-webkit-input-placeholder { /* Edge */
      @include opacity(1);
      color: $body-color;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      @include opacity(1);
      color: $body-color;
    }
    &::placeholder {
      @include opacity(1);
      color: $body-color;
    }
  }
  .input-group{
    padding: 5px;
    background-color: #fff;
    @include border-radius($border-radius);
    border: 1px solid transparent;
  }
  [type="submit"]{
    @include border-radius($border-radius !important);
  }
}
//widget-brands
.widget-brand{
  text-align: center;
  .item{
    img{
      max-width: 80%;
      display: inline-block;
    }
  }
  .slick-track{
    @include flexbox();
    align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
  }
  &.box{
    .item{
      min-height: 110px;
      padding: 5px;
      border: 1px solid $border-color;
      @include border-radius($border-radius);
      @include transition(all 0.2s ease-in-out 0s);
      &:hover,&:focus{
        border-color: $theme-color;
      }
    }
  }
}

.text-theme{
  color: $theme-color !important;
}
.text-link{
  color: $body-link !important;
}
.text-hover-link{
  color: $link-hover-color !important;
}
.text-white{
  color: #fff !important;
}
.text-white-70{
  color: rgba(#fff,0.7) !important;
}
.bg-theme{
  background: $theme-color;
}
.border-theme{
  border-color: $theme-color;
}
.radius-3x{
  @include border-radius(3px !important);
}
.radius-50{
  @include border-radius(50px !important);
}
.deleted_wpb_single_image{
  position: relative;
  overflow: hidden;
  &:before{
    position: absolute;
    z-index: 2;
    @include transition(all 0.2s ease-in-out 0s);
    content: '';
    @include size(100%,100%);
    background: $theme-color;
    @include opacity(0);
    top: 0;
    left: 0;
  }
  &:after{
    position: absolute;
    @include transition(all 0.3s ease-in-out 0s);
    content: '';
    top: $theme-margin;
    left: $theme-margin;
    right: $theme-margin;
    bottom: $theme-margin;
    border:1px solid #fff;
    z-index: 3;
    @include scale(0);
  }
  &:hover{
    &:before{
      @include opacity(0.5);
    }
    &:after{
      @include scale(1);
    }
  }
}
.widget-team{
  text-align: center;
  .team-item{
    @include border-radius($border-radius);
    overflow: hidden;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: rgba(39, 42, 51, .7);
      @include transition(all 0.3s ease-in-out 0s);
      @include size(100%,100%);
      @include opacity(0);
    }
    img{
      @include transition(all 0.5s ease-in-out 0s);
    }
  }
  .name-team{
    font-size: 1.125rem;
    margin:1rem 0 5px;
    @media(min-width: 1200px){
      margin:1.5625rem 0 5px;
    }
  }
  .listing{
    @media(min-width: 1200px){
      font-size: 0.9375rem;
    }
  }
  .social{
    position:absolute;
    left: 0;
    width:100%;
    z-index: 1;
    list-style: none;
    margin:0;
    top: 50%;
    @include translateY(0);
    visibility: hidden;
    @include opacity(0);
    @include transition(all 0.3s ease-in-out 0s);
    li{
      display: inline-block;
      margin-right: 10px;
      @media(min-width: 1200px){
        margin-right: 20px;
      }
      &:last-child{
        margin-right: 0;
      }
      a{
        color: #fff !important;
      }
    }
  }
  &:hover{
    .team-item img{
      @include transform(scale(1.15) rotate(-1deg));
    }
    .team-item:before{
      @include opacity(1);
    }
    .social{
      @include translateY(-50%);
      visibility: visible;
      @include opacity(1);
    }
  }
}
// vertical menu
.widget_apus_vertical_menu{
  .widget-title{
    font-size: 16px;
    font-weight: normal;
    margin:0 0 10px;
    padding:15px $theme-margin 0;
  }
  border-left: 4px solid #2e2d2d;
  .apus-vertical-menu{
    border:none;
    > li{
      margin-left: -4px;
      > a{
        border-left: 4px solid transparent;
        font-size: 16px;
        padding:0 $theme-margin;
      }
      &.active,&:hover{
        > a{
          border-color:$theme-color;
        }
      }
    }
  }
}
.nav.tabs-product{
  border:none;
  margin: 0 0 1.25rem;
  @media(min-width: 1200px){
    margin-bottom: 2rem;
  }
  > li{
    display: inline-block;
    float: none;
    margin-bottom: 0;
    margin-right: 0.9375rem;
    @media(min-width: 1200px){
      margin-right: 3.125rem;
    }
    > a{
      border:none !important;
      font-size: 1rem;
      @media(min-width: 1200px){
        font-size: 1.125rem;
      }
      text-transform: capitalize;
      font-weight: 500;
      line-height: 1;
      color: $body-link;
      display: inline-block;
      background:transparent;
      position:relative;
      padding:0 0 10px;
      &:before{
        content:'';
        position:absolute;
        bottom:0;
        left:0;
        @include size(100%,2px);
        background:$theme-color;
        @include transition(all 0.3s ease-in-out 0s);
        @include scale(0);
      }
    }
    &.active > a {
      &,
      &:hover,
      &:focus{
        color: $theme-color;
        &:before{
          @include scale(1);
        }
      }
    }
  }
}
.updow{
  &:hover{
    .top-img img,
    .img img,
    .image-wrapper img{
      -webkit-animation: updow 0.8s ease-in-out 0s infinite ;
      animation: updow 0.8s ease-in-out 0s infinite ;
    }
  }
}
.updow-infinite{
  img{
    -webkit-animation: updow 1s ease-in-out 0s infinite ;
    animation: updow 1s ease-in-out 0s infinite ;
  }
}
@-webkit-keyframes updow {
  50% {
    @include translateY(-10px);
  }
  0%, 100% {
    @include translateY(0px);
  }
}

@keyframes updow {
  50% {
    @include translateY(-10px);
  }
  0%, 100% {
    @include translateY(0px);
  }
}

@-webkit-keyframes fadeleft {
  from {
    @include opacity(1);
  }
  to {
    @include opacity(0);
    @include translate(-15px,0);
  }
}
@keyframes fadeleft {
  from {
    @include opacity(1);
  }
  to {
    @include opacity(0);
    @include translate(-15px,0);
  }
}

@-webkit-keyframes faderight {
  from {
    @include opacity(0);
    @include translate(15px,0);
  }
  to {
    @include opacity(1);
    @include translate(0,0);
  }
}
@keyframes faderight {
  from {
    @include opacity(0);
    @include translate(15px,0);
  }
  to {
    @include opacity(1);
    @include translate(0,0);
  }
}
.mb0 {
    margin-bottom: 0px !important;
}
.width-full{
  width:100% !important;
}
//custom-menu
.custom-menu{
  list-style: none;
  padding:0;
  margin:0;
  li{
    padding-left: 22px;
    margin-bottom: 18px;
    position:relative;
    line-height: 1.4;
    &:before{
      content:'';
      position:absolute;
      top:0;
      left: 0;
      @include size(2px,100%);
      background:#221f1f;
      @include opacity(0);
      @include transition(all 0.3s ease-in-out 0s);
    }
    &:last-child{
      margin:0;
    }
    i{
      margin-right: 15px;
      font-size:18px;
      @media(min-width: 1200px){
        font-size:23px;
      }
    }
    a{
      color: $body-color;
      &:focus,
      &:hover{
        color: $body-link;
      }
    }
    &:hover,
    &.active{
      &:before{
        @include opacity(1);
      }
    }
  }
}
.banner-item{
  min-height: 100px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  @include border-radius($border-radius);
  text-align: center;
  display: block;
  .title{
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    margin:0;
    padding: 1.25rem;
    font-size: 1.125rem;
    color: #fff;
  }
}
.banner-item-link{
  display: block;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    @include size(100%,100%);
    background-color: rgba(#272A33, 0.3);
  }
  img{
    @include transition(all 0.6s ease-in-out 0s);
  }
  &:hover,&:focus{
    img{
      @include transform(scale(1.1) rotate(-1deg));
    }
  }
}
.widget-banner-account{
  text-align: center;
  background-color:$primary;
  padding:30px 15px;
  min-height: 300px;
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
  -ms-flex-direction: column ;
  -webkit-flex-direction: column ;
  flex-direction: column ;
  justify-content: center;
  -webkit-justify-content: center; /* Safari 6.1+ */
  @media(min-width: 1200px){
    padding: 50px 30px;
    min-height: 470px;
  }
  .title-account{
    color: #fff;
    margin:0 ;
    font-size: 30px;
    margin: 0 0 12px;
    @media(min-width: 1200px){
      font-size: 50px;
    }
  }
  .description{
    color: #fff;
    margin: 0 0 30px;
  }
}

/*-----------------------------*\
        Widget video
\*-----------------------------*/
.video-wrapper-inner{
  position: relative;
  @include border-radius($border-radius);
  overflow: hidden;
  .popup-video{
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%,-50%);
    z-index: 1;
    display: inline-block;
    @include size(40px,40px);
    line-height: 40px;
    font-size: 1rem;
    @include border-radius(50%);
    @include transition(all 0.3s ease-in-out 0s);
    @media(min-width: 1200px){
      @include size(70px,70px);
      line-height: 70px;
      font-size: 1.5rem;
    }
    background-color:#fff;
    color: $body-link;
    text-align: center;
    margin:10px;
    &:before{
      content:'';
      position: absolute;
      top:0;
      left: 0;
      @include size(100%,100%);
      z-index: -1;
      background:#fff;
      @include opacity(0.1);
      @include border-radius(50%);
      -webkit-animation: scaleicon 2s ease-in-out 0s infinite alternate;
      animation: scaleicon 2s ease-in-out 0s infinite alternate;
    }
    &:hover,&:focus{
      background-color: $theme-color;
      color: #fff;
    }
  }
}
.box-contact{
  background-color: #F4F4F4;
  @include border-radius($border-radius);
  padding: 1rem;
  @media(min-width: 1200px){
    padding: 1.875rem;
  }
  .form-control{
    margin-bottom: 1.25rem;
    @media(min-width: 1200px){
      height: 55px;
    }
  }
  textarea.form-control{
    height: 150px;
    @media(min-width: 1200px){
      height: 200px;
    }
  }
  [type="submit"]{
    @media(min-width: 1200px){
      text-align: center;
      min-width: 250px;
    }
  }
  .title{
    font-size: 1.375rem;
    margin: 0 0 1.25rem;
  }
  p:last-child{
    margin-bottom: 0;
  }
}

.elementor-icon-box-title{
  margin-top: 0;
}
@media(min-width: 1200px){
  .row-40{
    margin-left: -20px !important;
    margin-right: -20px !important;
    > [class*="col-"]{
      padding-left: 20px !important;
      padding-right: 20px !important;
    }
  }
}
.row-20{
  margin-left: -10px !important;
  margin-right: -10px !important;
  > [class*="col-"]{
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
.row-10{
  margin-left: -5px !important;
  margin-right: -5px !important;
  [class*="col-"]{
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}
.list-circle{
  list-style: none;
  padding: 0;
  li{
    margin-bottom: 10px;
    @media(min-width: 1200px){
      margin-bottom: 17px;
    }
    position: relative;
    padding-left: 20px;
    &:before{
      content: '';
      background-color: #696969;
      @include size(6px,6px);
      @include border-radius(50%);
      position: absolute;
      top: 9px;
      left: 0;
    }
  }
  &.column2{
    max-width: 600px;
  }
}
.list-circle-check{
  list-style: none;
  padding:0;
  @media(min-width: 768px){
    column-count: 2;
  }
  li{
    margin-bottom: 10px;
    @media(min-width: 1200px){
      margin-bottom: 17px;
    }
    &:before{
      font-size: 8px;
      content: '\f00c';
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      display: inline-block;
      vertical-align: text-bottom;
      margin-right: 10px;
      background-color: #696969;
      @include size(18px,18px);
      @include border-radius(50%);
      line-height: 18px;
      text-align: center;
      color: #fff;
    }
  }
}
.column2{
  @media(min-width: 768px){
    column-count: 2;
  }
}
.m-770{
  max-width: 770px;
  margin-right: auto;
  margin-left: auto;
}
.mb-per2-gutter{
  margin-bottom: $theme-margin / 2;
}
@media(min-width: 992px){
  .mb-lg-gutter{
    margin-bottom: $theme-margin;
  }
}
.max-600{
  max-width: 600px;
}
.mb-30{
  margin-bottom: 1.875rem !important;
}